################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/Gym/v17/.suo
obj/
bin/
.vs/
*.user
Properties/PublishProfiles/SparkleGym - FTP.pubxml
Properties/PublishProfiles/SparkleGym - Web Deploy.pubxml
Properties/PublishProfiles/SparkleGym - Zip Deploy.pubxml
Properties/ServiceDependencies/SparkleGym - Web Deploy/profile.arm.json
Properties/ServiceDependencies/SparkleGym - Zip Deploy/profile.arm.json
